/*Archivo de estilos css para la pagina de santiago, se enlaza en el head del html con la etiqueta link*/
/* Se separan las responsabilidades de que mostrar y como mostrar, css solo estila y html solo muestra*/

/*selectores de etiquetas*/
header {
    background-color: violet; 
    border:4px solid black; 
    /** Fuentes web-safe (compatibilidad universal): https://www.w3schools.com/cssref/css_websafe_fonts.php */
    font-family: Arial, Helvetica, sans-serif;
}

/* nombre clase */
.Menu {
    align-items: center;
    display: flex;
}

.Elemento-Menu {
    align-items: center;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
}

.Logo {
    width: 65px; 
}

/* .Ciudad se relaciona con las imagenes de las ciudades
por medio del id, por ej: #estero, al id estero se le aplica estos estilos
*/
.Ciudad {
    border: 5px solid black; 
    font-family: monospace;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.destacado {
    font-weight: bold;
    color: blue;
}

.Ciudad-texto{
    /* se modifica el color de fondo, en este caso transparente con rgba*/
    background-color: rgba(0,0,0,0.2);
    color: white;
    font-size:15px;
    text-align: center;
    height: 100%;
    padding-top: 150px;
}


/* se hace referencia a todos los h3 dentro de ciudad texto*/
.Ciudad-texto.h3 {
    margin-top: 0px;
}

/*Nombre ID*/
#estero {
    background-image: url("../img/estero.jpeg");    
}

#guayaquil {
    background-image: url("../img/guayaquil.jpeg");
}

#compostela {
    background-image: url("../img/compostela.jpeg");
}

#cuba {
    background-image: url("../img/cuba.jpeg");
}