/*
============================
        Maquetas
============================
*/

/* multiples selectores para aplicar un solo estilo, esto es para visualizar las partes de la pagina con bordes
header, .iconos-header, .iconos-container, nav {
    border: 2px solid black;
}
*/

/*
============================
        Generales
============================
*/


/*Variables CSS
se declaran con --*/
:root {
    --btn-blue: #4c57fd;
}


body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* para cambiar la fuente de toda la pagina, se pueden usar varias fuentes, en caso de que no se pueda cargar una, se cargara la siguiente*/
}

a {
    text-decoration: none; /* para quitar el subrayado de los enlaces*/
    color: black; /* para cambiar el color de los enlaces*/
} 

ul {
    padding-left: 0; /* para quitar la sangria o espacio lateral desde la izquierda de la pagina*/
    list-style: none; /* para quitar los puntos de las listas*/
}


/*
============================
        Header
============================
*/


header, ul, .iconos-container{
    display: flex; /*para alinear los elementos en una sola fila*/
    align-items: center; /*para alinear los elementos verticalmente en el centro*/
}

header {
    justify-content: center;
}


header ul {
    justify-content: space-around; /* para separar los elementos del header, en este caso, el logo, los iconos y el menu*/
    flex-wrap: wrap;
}

header nav {
    width: 65%;
}

header a {
    padding: 5px 10px; /* para agregar espacio entre los enlaces del menu*/
}

.iconos-header {
    width: 25px;
    padding: 0px 10px; /* para agregar espacio entre los iconos del header*/
}


/*selector descendiente*/
/*usamos esto porque el tamaño de la imagen no estaba sujeta 
al tamaño del contenedor, osea, no se podía ajustar*/
.iconos-header img {
    width: 100%;
}


/*
============================
        Main
============================
*/

section {
    /* text-align: center; */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#Reloj {
    background-image: url(https://www.apple.com/v/home/cm/images/heroes/apple-watch-series-11/hero_apple_watch_series_11__bdz1mml4dx6q_large.jpg);
    height: 480px;
}

#Img-titulo-reloj {
    margin: 0;
    display: block;
    width: 400px;
}

#Iphone {
    background-image: url(https://www.apple.com/v/home/a/images/heroes/iphone-family/hero_iphone_family__fuz5j2v5xx6y_large.jpg);
    height: 480px;
}

#MacBookNeo {
    background-image: url(https://www.apple.com/v/home/cm/images/heroes/macbook-neo/hero_macbook_neo__gnm3snkti4a6_large.jpg);
    border: 2px solid black;
    height: 400px;
}

#MacBook-Neo-Pro {
    background-image: url(https://www.apple.com/v/home/cm/images/promos/macbook-pro/promo_macbook_pro__e3xqrygvp9ea_large.jpg);
    height: 400px;
    flex: 1;
}

#Ipad {
    background-image: url(https://www.apple.com/v/home/cm/images/promos/ipad-air-m4/promo_ipad_air_m4__f9ie3h3pzr6m_large.jpg);
    height: 400px;
    flex: 1;
}

#AirPods {
    background-image: url(https://www.apple.com/v/home/cm/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_large.jpg);
    height: 400px;
    flex: 1;
}


#Business {
    background-image: url(https://www.apple.com/v/home/cm/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_large.jpg);
}

#Promo {
    background-image: url(https://www.apple.com/v/home/cm/images/promos/apple-business/promo_apple_business__fi88n3dz0emq_large.jpg);
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin-top: 25px;
}

.button-primary {
    padding: 5px 15px;
    border: none;
    background-color: var(--btn-blue);
    color: white;
    font-size: 1.1rem;
    border-radius: 13px;
}

.button-secundary {
    border: none;
    border-radius: 13px;
    font-size: 1.1rem;
    padding: 5px 15px;
    background-color: white;
    color: blue;
}


.button-primary:hover {
    background-color: lightblue;
    cursor: pointer;
}

.button-secundary:hover {
    background-color: lightblue;
    cursor: pointer;
}


.prod-titulo {
    font-size: 48px;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-bottom: 0px;
}

.prod-descripción {
    font-size: 20px;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/*
============================
        Sections
============================
*/
