/*Archivo de estilos css para la pagina de santiago, se enlaza en el head del html con la etiqueta link*/
/* Se separan las responsabilidades de que mostrar y como mostrar, css solo estila y html solo muestra*/

/*selectores de etiquetas*/
header {
    background-color: violet; 
    border:4px solid black; 
    /** Fuentes web-safe (compatibilidad universal): https://www.w3schools.com/cssref/css_websafe_fonts.php */
    font-family: Arial, Helvetica, sans-serif;
}

/* nombre clase */
.Menu {
    align-items: center;
    display: flex;
}

.Elemento-Menu {
    align-items: center;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
}

.Logo {
    width: 65px; 
}

.Ciudad {
    border: 5px solid black; 
    margin: 5px;
    padding: 5px;
    font-family: monospace;
}

.Foto-ciudad {
    width: 1028px;   
    height: 380px;
    
}

.destacado {
    font-weight: bold;
    color: blue;
}

/*Nombre ID*/
#estero {
    background-color: lightblue;    
}

#guayaquil {
    background-color: lightgreen; 
}

#compostela {
    background-color: lightpink; 
}

#cuba {
    background-color: lightgray; 
}